.wrapper {
  display: 'flex';
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.entryDiv {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://assets.newatlas.com/dims4/default/1aca086/2147483647/strip/true/crop/1992x1328+4+0/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Ffe%2F06%2F75f2c8704c71ade9c8881c997c8f%2Fdepositphotos-41105113-l-2015.jpg');
  background-size: cover;
  height: 1000px;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 180px;
}
.entryDiv p {
  font-size: 40px;
  line-height: 40px;
}
.jumbotrom {
  height: 250px;
  width: 70%;
  color: black;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 0px !important;
  /* border-bottom-left-radius: 30% !important;
  border-bottom-right-radius: 30% !important; */
  margin-bottom: 0px !important;
  background-color: white !important;
}
.jumbotrom img {
  max-height: 100%;
  width: 30%;
  margin-left: 20px;
  border-radius: 50%;
}
.workWith {
  background-color: white;
  height: 250px;
  width: 330px;
  box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.29);
  left: 68%;
  top: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.workWith h1 {
  align-self: center;
  font-size: 38px;
}
.workWith p {
  font-size: 18px;
}

.swimming {
  background: url('https://static.dribbble.com/users/1116976/screenshots/5675254/image.png');
  background-size: cover;
  background-position: 100% 50%;
  margin-top: -100px;
  height: 800px;
  width: 100%;
  position: absolute;

  z-index: -1 !important;
}
.someProducts {
  width: 100%;
  margin: 450px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.instagramWidgetTitle {
  font-size: 60px;
}
.findUsTitle {
  font-size: 30px;
}
.findUs {
  height: 500px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 22px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://static.dribbble.com/users/462500/screenshots/5757550/beauty_2x.png');
  background-size: cover;
  background-position: 100% 50%;
}

.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

@media only screen and (max-width: 1150px) {
  .workWith {
    height: 250px;
    width: 300px;
  }
  .workWith h1 {
    font-size: 30px;
  }
  .workWith p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 960px) {
  .workWith {
    height: 310px;
    width: 150px;
    top: 100%;
    left: 60%;
  }
  .workWith h1 {
    font-size: 24px;
  }
  .workWith p {
    font-size: 14px;
  }

  .jumbotrom {
    height: 380px;
    width: 60%;
    font-size: 15px;
  }
  .jumbotrom h1 {
    font-size: 30px;
  }
  .findUs {
    display: flex;
    flex-direction: column;
  }
  .instagramWidgetTitle {
    font-size: 35px;
    text-align: center;
  }
}

/* Mobile Size */
@media only screen and (max-width: 420px) {
  .entryDiv {
    padding-top: 20px;
  }

  h1 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }

  .workWith {
    height: 310px;
    width: 180px;
    top: 1340px;
    left: 45%;
  }

  .jumbotrom {
    height: 320px;
    width: 100%;
    font-size: 15px;
  }
  .findUs {
    display: flex;
    flex-direction: column;
  }
  .instagramWidgetTitle {
    font-size: 35px;
    text-align: center;
  }
}
